.CatalogOnMainPage {
  max-width: 1600px;
  margin: 0 auto;
}
.catalogOnMainPage__title {
  text-align: left;
  font-size: 54px;
}
//=========================
.productCard {
  margin-top: 20px;
  padding: 25px;
  width: 354px;
  height: 265px;
  text-align: justify;
  border-radius: 13px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.07), 0 2px 14px rgba(0,0,0,0.03);
}
.productCard__title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}
.productCard__description {
  margin-top: 10px;
}
.productCard__price {
  margin: 2px 0 15px 0;
  text-align: center;
  span {

  }
}
.productCard__buttons {
  display: flex;
  justify-content: center;
}
//=========================
.catalogOnMainPage__cards {

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
//=========================
.login {
  margin: 150px auto 0;
  padding: 25px;
  width: 465px;
  height: 400px;
  border-radius: 13px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.07), 0 2px 14px rgba(0,0,0,0.03);
  .login__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #0E4DA4;
    margin-top: 34px;
    margin-bottom: 20px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login__inp {
    outline: none;
    padding: 12px 55px 12px 19px;
    border: 1px #0E4DA4 solid;
    border-radius: 8px;
    margin-bottom: 18px;
    &:focus {
      outline: none;
      border: 2px #0E4DA4 solid;
    }
  }
  .login__blueButton {
    width: 160px;
    height: 39px;
    margin-right: 0;
    margin-bottom: 18px;
    font-size: 18px;
  }
  .login__whiteButton {
    width: 160px;
    height: 39px;
    margin-left: 0;
    font-size: 15px;
  }
}